{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static './css/main.css' %}">

<title>Login</title>
</head>
<body>
    
    <div class="row d-flex justify-content-center text-center">
        <div class="col-2"></div>
        <div class="col-4">
            <form method="POST" class="form-signin bg-dark text-light p-4 mt-5">

                {% csrf_token %}
                <img class="mb-4" src="{% static './images/logo.png' %}" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            
                <label for="username" class="sr-only">Username</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
                <br>
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                
                <br>

                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}

                <br>
                <input class="btn btn-sm btn-primary" type="submit" value="Login"/>
            </form>
            <p>dont have a account? <a href="{% url 'register' %}">Register</a></p>
            <p>Forgot passwrod? <a href="{% url 'reset_password' %}">click here</a></p>
        </div>
        <div class="col-2"></div>
    </div>

</body>
</html>