{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">

<title>Login</title>
</head>
<body>
   
    <div class="row mt-5">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="text-center card text-white bg-dark">
                <div class="card-body">
                    <h3>Enter new Password</h3>
                    <hr>
                    
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{form}}
                        <br><br>
                        <input class="btn btn-primary" type="submit" name="update password">
                    </form>
                </div>
            </div>
    
        </div>
    </div>
      
</body>
</html>

