{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">

<title>Login</title>
</head>
<body>
   
    <div class="row mt-5">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="text-center card text-white bg-dark">
                <div class="card-body">
                    <h3>Password Reset Complete</h3>
                    <hr>
                    <p>Password Changed Successfully</p>
                    <a href="/">login now</a>
                    
                </div>
            </div>
    
        </div>
    </div>

</body>
</html>

